* {
box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: #131720;
    font-family: sans-serif;
}
h3 {
    color: white; 
}
.topnav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.topnav .search-container {
    float: right;
}
form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}
#query {
 height: 42px;
}
input {
    all: unset;
    font: 15px system ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 9px;

}
.thumbnail {
   
    border-radius: 19px;
     width: 100%;
     height: auto;
     object-fit: conver;
  }
.column {
    float: left;
    width: 23%;
    padding: 10px 10px;

}
.card {
 border-radius: 27px;
 padding: 8px;
 text-align: center;
 background-color: #151f30;
 width: 100%;
  height: auto;
  object-fit: cover;
}


h3 {
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
.material-icons {
    float: right;
    padding-top: 20px;  
    color: white;
}