* {
box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: #131720;
    font-family: sans-serif;
}
h3 {
    color: white; 
}
.topnav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.topnav .search-container {
    float: right;
}
form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}
#query {
 height: 42px;
}
input {
    all: unset;
    font: 15px system ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 9px;

}
.thumbnail {
  width: 100%;
  height: 220px;         /* fixe la hauteur pour éviter les sauts */
  object-fit: cover;     /* rogne l’image si elle dépasse */
  border-radius: 0.8rem;
  display: block;
    
  }
.column {
    float: left;
    width: 23%;
    padding: 10px 10px;

}
.card {
  background: #0e1625;
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem;
  color: white;
}


h3 {
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
.material-icons {
    float: right;
    padding-top: 20px;  
    color: white;
}
#section {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
}