div {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq_gLemrEDUCU5fAtR4BT1O--IGkzJ3MiY_Q0n89tpeukXjADJaCO2qFoe19-vFgl3xqys&s');
color: white;
text-align: center;
}
table, th, td {
    border: 2px solid black;
    width: 50%;
    border-collapse: collapse;
    padding: 10px;
}
td {
    text-align: center;
}
tr:hover {
    background-color: antiquewhite;
}
#welcome {
    text-align: center;
}
#intro {
    text-size: 30px;
}
p {

 font-size: 30px;
 font-size-adjust: var(#intro);
}